@use '../variables' as vars;

#layer-toolbox {
    flex: 1;
    row-gap: 0.5rem;
}

.new-layer-button {
    position: relative;
    background-color: transparent;
    border: none;
    color: vars.$color-text-light;;
    cursor: pointer;
    transition: all 50ms ease-in-out;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #00000080;
    }
}

.layer-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .layer-drawer {
        margin-top: 0.25rem;

        &:first-of-type{
            margin-top: 0;
        }

        .layer-drawer-title {
            cursor: pointer;
            font-weight: bold;
            background-color: transparent;
            padding: 0.5rem;
            border-radius: 0.25rem;
            transition: all 50ms ease-in-out;

            &:hover {
                background-color: #00000080;
            }
        }

        .layer-item-list {
            list-style: none;
            padding: 0;
            margin-bottom: 0.5rem;

            .layer-item {
                padding: 0.25rem 0 0.25rem 1.5rem;
                margin-top: 0.25rem;
                border-radius: 0.25rem;
                background-color: transparent;
                transition: all 50ms ease-in-out;

                &:first-of-type {
                    margin-top: 0;
                }

                &:hover {
                    background-color: #00000050;
                }
            }

        }
    }
}